.brands__list-wrapper {
    margin-left: -12px;
    margin-right: -16px;
}

@media (min-width: 768px) {
    .brands__list-wrapper {
        margin: 0 -12px;
    }
}

.brands__list-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 24px;
    padding: 16px 0;
    background-image: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

@media (min-width: 768px) {
    .brands__list-wrapper::after {
        display: none;
    }
}