.button {
    border: none;
    cursor: pointer;
    padding: 0;
    background: none;
    white-space: nowrap;
}

.button__icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 9px;
    border-radius: 50%;
    z-index: 5;
}

.button__icon:only-child {
    margin: 0;
}

.button__icon::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.button__icon--background {
    background-color: #FF3E79;
}

.button__icon--background::before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #41F6D7;
    border: 5px solid #FF3E79;
    transform: scale(0);
    transition: transform ease-out 300ms;
}

.button:hover .button__icon--background::before {
    transform: scale(1);
}

.button__icon--border {
    border: 2px solid #FF3E79;
}





/* .button__icon-wrapper {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 9px;
    border-radius: 50%;
    background-color: #FF3E79;
}

.button__icon-wrapper::before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #41F6D7;
    border: 5px solid #FF3E79;
    transform: scale(0);
    transition: transform ease-out 300ms;
}

.button:hover .button__icon-wrapper::before {
    transform: scale(1);
} */