.about-company__description {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: left;
}

.about-company__text--show {
    overflow: visible;
}

.about-company__button {
    margin: 16px 0;
}

.about-company__img-wrapper {
    margin: 0 -16px;
}

.about-company__img {
    display: block;
    width: 100%;
}

@media (min-width: 768px) {
    .about-company {
        display: flex;
    }

    .about-company__description {
        flex: 0 2 50%;
        padding-right: 48px;
    }

    .about-company__img-wrapper {
        margin: 0;
        flex: 0 0 50%;
    }

    .about-company__img {
        border-radius: 6px;
    }
}