.sidebar {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 320px;
  height: 100vh;
  box-shadow: 
    -2px 0px 4px rgba(69, 79, 126, 0.02), 
    16px 0px 52px rgba(14, 24, 80, 0.2);
}

.sidebar__header {
  display: flex;
  margin-bottom: 46px;
}

.sidebar__menu {
  margin-bottom: auto;
}

.sidebar__button:not(:last-child) {
  margin-right: 16px;
}

