.sidebar {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 32px;
  width: 100%;
  min-height: 100vh;
  box-shadow: 
    -2px 0px 4px rgba(69, 79, 126, 0.02), 
    16px 0px 52px rgba(14, 24, 80, 0.2);
}

@media (min-width: 360px) {
  .sidebar {
    max-width: 320px;
  }
}

@media (min-width: 768px) {
  .sidebar {
    padding: 24px 24px 32px;
  }
}

.sidebar__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .sidebar__header {
    margin-bottom: 46px;
  }
}

.sidebar__logo {
  margin-right: auto;
}

.sidebar__sidebar-menu {
  margin-bottom: auto;
}

.sidebar__button:not(:last-child) {
  margin-right: 16px;
}

.sidebar__footer {
  padding-top: 32px;
}

.sidebar__buttons {
  margin-bottom: 16px;
}

.sidebar__email {
  display: block;
  margin-bottom: 12px;
}

.sidebar__phone {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -0.6px;
}

@media (min-width: 768px) {
  .sidebar__phone {
    margin-bottom: 40px;
  }
}

.sidebar__language {
  text-transform: uppercase;
}

