.sidebar-footer {

}

.sidebar-footer__buttons {
  margin-bottom: 16px;
}

.sidebar-footer__email {
  display: block;
  margin-bottom: 12px;
}

.sidebar-footer__phone {
  display: block;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -0.6px;
}

.sidebar-footer__language {
  text-transform: uppercase;
}