.slide-menu {
  position: relative;
  margin-right: -16px;
  overflow: hidden;
}

.slide-menu:after {
  content: '';
  position: absolute;
  height: 40px;
  width: 24px;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  z-index: 1;
  top: 0;
  right: 0;
}

.slide-menu__inner {
  display: flex;
  overflow: overlay;
  list-style: none;

  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slide-menu__inner::after {
  content: '';
  width: 16px;
  flex-shrink: 0;
}

.slide-menu__inner::-webkit-scrollbar {
  display: none;
}

.slide-menu__item {
  padding: 6px 16px;
}

.slide-menu__item--active {
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  background: #FFFFFF;
}

.slide-menu__link {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;

  text-decoration: none;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .slide-menu {
    margin-right: -24px;
  }

  .slide-menu__inner::after {
    width: 24px;
  }
} 

@media (min-width: 1120px) {
  .slide-menu {
    margin-right: 0;
  }

  .slide-menu__inner::after {
    display: none;
  }

  .slide-menu__inner {
    overflow: auto;
    flex-wrap: wrap;
  }
}